ReWriteEngine On


ReWriteCond %{REQUEST_FILENAME} !-d
ReWriteCond %{REQUEST_FILENAME} !-f
ReWriteCond %{REQUEST_FILENAME} !-l

#ReWriteBase /crawd

#ReWriteRule ^([a-zA-Z0-9]*)/?(.*)$ index.php?url=$0 [QSA,L]
ReWriteRule ^(.*)$ index.php?url=$0 [QSA,L]